* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
}

.btn {
    width: 147px;
    height: 48px;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 52px;

}

.btn-green {
    background-color: #22A75D;
    color: #FFFFFF;
}

.btn-light {
    background-color: #ffffff; 
    color: #191B21;
}

// Mixins
@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar {
    @include flex-between;
    padding: 2.5rem;

    .logo img {
        width: 239px;
        height: 35px;
        object-fit: contain;
    }

    .navigation-menu {
        display: flex;
        align-items: center;
        gap: 105px;

    }

    .navigation-menu .page-info ul {
        @include flex-around;
        list-style: none;
        gap: 35px;
        font-weight: 700;
        font-size: 14px;
        text-decoration-style: solid;

        a {
            color: #ffffff; //need to change the when background image is set
            text-underline-offset: 2px;

        }
    }

    .login {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .login ul {
         list-style: none;
        gap: 35px;
        font-weight: 700;
        font-size: 14px;
        text-decoration-style: solid;

        a {
            color: #ffffff; //need to change the when background image is set
            text-underline-offset: 2px;

        }
    }


}
.main-section {
    position: relative;

    .hero-bg-img {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1000; 
        width: 0;
        height: 0;
        pointer-events: none;

        img {
            position: absolute;
            top: 0;
            right: 0;
            height: auto;
            pointer-events: none;
        }
        .hero-bg-1 {
             z-index: -99;
        }
        .hero-bg-2 {
             z-index: -999;
        }
        .hero-bg-3 {
             z-index: -9999;
        }
        .hero-bg-4 {
             z-index: -99999;
        }
    }
}
.hero-section {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 86%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 2rem;

    .text-container {
        width: 39%;
        min-width: 400px;

        .text-inner {
            padding: 120px 0px;

            .hero-intro {
                font-weight: 700;
                font-size: 18px;
                line-height: 40px;
                color: #2278D4;
                margin-bottom: 20px;
            }

            .hero-title {
                font-weight: 500;
                font-size: 48px;
                line-height: 1.2;
                color: #191B21;
                margin-bottom: 30px;
            }

            .hero-description {
                font-weight: 300;
                font-size: 16px;
                line-height: 1.6;
                color: #191B21;
                margin-bottom: 45px;
            }
        }
    }

    .img-container {
        width: 57%;
        min-width: 600px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        position: relative;

        .hero-img1 {
            position: absolute;
            width: 420px;
            max-width: 80%;
            left: 300x;
            z-index: 10000;
        }

        .hero-img2 {
            position: absolute;
            width: 600px;
            max-width: 100%;
            right: -120px;
            z-index: -1;
        }
    }
}

